<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>

<typeAliases>
	<typeAlias type="com.kh.okkh.project.model.vo.Project" alias="Project"/>
	<typeAlias type="com.kh.okkh.pr.model.vo.PR" alias="PR"/>
	<typeAlias type="com.kh.okkh.common.model.vo.Stack" alias="Stack"/>
	<typeAlias type="com.kh.okkh.member.model.vo.Member" alias="Member"/>
	<typeAlias type="com.kh.okkh.common.model.vo.Reply" alias="Reply"/>
	<typeAlias type="com.kh.okkh.repository.model.vo.Repo" alias="Repo"/>
	<typeAlias type="com.kh.okkh.repository.model.vo.MyProject" alias="MyProject"/>
	<typeAlias type="com.kh.okkh.common.model.vo.Bookmark" alias="Bookmark"/>
	<typeAlias type="com.kh.okkh.friend.model.vo.Friend" alias="Friend"/>
	<typeAlias type="com.kh.okkh.pullRequest.model.vo.GitPullRequest" alias="PullRequest"/>
	<typeAlias type="com.kh.okkh.chat.model.vo.ChatRoom" alias="ChatRoom"/>
	<typeAlias type="com.kh.okkh.chat.model.vo.ChatMember" alias="ChatMember"/>
	<typeAlias type="com.kh.okkh.chat.model.vo.ChatMessage" alias="ChatMessage"/>
</typeAliases>

<mappers>
	<mapper resource="/mappers/project-mapper.xml"/>
	<mapper resource="/mappers/pr-mapper.xml"/>
	<mapper resource="/mappers/member-mapper.xml"/>
	<mapper resource="/mappers/repo-mapper.xml"/>
	<mapper resource="/mappers/friend-mapper.xml"/>
	<mapper resource="/mappers/pullRequest-mapper.xml"/>
	<mapper resource="/mappers/chat-mapper.xml"/>
</mappers>

</configuration>
