<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">
		
	<resultMap type="ChatMember" id="chatMemberResultSet">
		<result column="mem_no" property="memNo"/>
		<result column="room_no" property="roomNo"/>
		<result column="git_nick" property="gitNick"/>
		<result column="profile" property="profile"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<result column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="git_nick" property="gitNick"/>
		<result column="profile" property="profile"/>
		<result column="mem_token" property="memToken"/>
		<result column="mem_intro" property="memIntro"/>
		<result column="stack_name" property="stackName"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
	</resultMap>

	<resultMap type="ChatRoom" id="chatRoomResultSet">
		<result column="room_no" property="roomNo"/>
		<result column="room_title" property="roomTitle"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
		<result column="last_chat" property="lastChat"/>
		<result column="last_date" property="lastDate"/>
		<result column="file_no" property="fileNo"/>
		<result column="mem_no" property="memNo"/>
	</resultMap>
	
	<select id="selectChatMember" resultMap="chatMemberResultSet">
		select mem_no
			 , room_no
		  from chat_member
		  join member using (mem_no)
		 where mem_no = #{memNo}
		   and rownum = 1
	</select>

	<select id="selcetChatRoomList" resultMap="chatRoomResultSet">
		select room_no
		     , room_title
		     , last_chat
		     , last_date
		  from chat_room
		  join chat_member using (room_no)
		 where status = 'Y'
		   and mem_no = #{memNo}
	</select>

	<select id="searchMember" resultMap="memberResultSet">
		select *
		  from member m
		  join (
		       select bf_taker
		       from friend f
		       where bf_giver = #{memNo}
		         and f.status = 'Y'
		       ) on (mem_no = bf_taker)
		 where m.status = 'Y'
	</select>	

	<insert id="insertChatRoom">
		insert 
		into chat_room
			(
			room_no,
			room_title,
			create_date,
			status
			)
		values
			(
			seq_chat.nextval,
			#{roomTitle},
			sysdate,
			'Y'
			)
	</insert>
	
	<insert id="insertChatMaker">
		insert 
		into chat_member
			(
			mem_no,
			room_no
			)
		values
			(
			#{memNo},
			seq_chat.currval
			)
	</insert>
	
	<insert id="insertChatMember">
		insert into chat_member (mem_no, room_no)
		select 
		    m.mem_no,
		    seq_chat.currval
		from member m
		join (
		    select bf_taker
		    from friend f
		    where bf_giver = #{memNo}
		      and f.status = 'Y'
		) f_sub on m.mem_no = f_sub.bf_taker
		where m.status = 'Y'
	</insert>
	
	<select id="selectChatRoom" resultMap="chatRoomResultSet">
		select room_no
		     , room_title
		     , last_chat
		     , last_date
		  from chat_room
		 where status = 'Y'
		   and room_no = #{roomNo}
	</select>
	
	<select id="selectChatMemberList" resultMap="chatMemberResultSet">
		select mem_no
		     , room_no
		     , git_nick
		  from chat_member
		  join member using (mem_no)
		 where room_no = #{roomNo}
	</select>
	
</mapper>