<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="labelsMapper">

	<resultMap type="Labels" id="labelsResult">
		<result column="lab_no" property="labNo"/>
		<result column="lab_name" property="labName"/>
	</resultMap>

	<select id="selectLabList" resultMap="labelsResult">
		select
		       lab_no
		     , lab_name
		  from labels
		 
	</select>

</mapper>
