<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="prMapper">

	<resultMap type="PR" id="prSetResult">
		<result column="pr_no" property="prNo" />
		<result column="pr_title" property="prTitle" />
		<result column="create_date" property="createDate" />
		<result column="stack_name" property="stackName" />
		<result column="git_nick" property="prWriter" />
		<result column="count" property="count" />
		<result column="pr_time" property="prTime"/>
		<result column="pr_content" property="prContent"/>
		<result column="mem_no" property="memNo"/>
		
		
	</resultMap>

	<resultMap type="Stack" id="stackSetResult">
		<result column="stack_no" property="stackNo"/>
		<result column="stack_type" property="stackType"/>
		<result column="stack_name" property="stackName"/>
		<result column="stack_img" property="stackImg"/>
		
	</resultMap>
	
	<resultMap type="Reply" id="replySetResult">
		<result column="reply_no" property="replyNo"/>
		<result column="git_nick" property="replyWriter"/>
		<result column="rep_content" property="replyContent"/>
		<result column="ref_pro" property="refPno"/>
		<result column="rep_date" property="repDate"/>
		<result column="mem_no" property="memNo"/>
		<result column="status" property="status"/>
		
	</resultMap>


	<select id="selectListCount" resultType="_int">
		select count(*)
		  from my_pr
		 where status ='Y'
	
	</select>
	
	
	
  <select id="selectPRList" resultMap="prSetResult">
		 select 
		        pr_no
		      , pr_title
		      , to_char(pr.create_date, 'YYYY-MM-DD') as "create_date"
		      , pr.stack_name
		      , git_nick
		      , count
		      , mem_no
		  from my_pr pr
		  join member using (mem_no)
		 where pr.status ='Y'
		 order by pr.create_date desc
			
	</select>
	
	
	<select id="selectStackList"  resultMap="stackSetResult">
		select 
			   stack_no
			 , stack_type
			 , stack_name
			 , stack_img 
		 from stack	  
	
	</select>
	
	<insert id="insertPR">
		INSERT INTO MY_PR 
		     VALUES
		     (
		       SEQ_PR.NEXTVAL
		     , #{prTitle}
		     , #{prContent}
		     , sysdate
		     , #{prTime}
		     , 'Y'
		     , #{stackName}
		     , #{prWriter}
		     , DEFAULT
		     
		     )
	</insert>


	<update id="increaseCount">
		update 
			   my_pr
		   set count = count +1
		 where pr_no = #{prNo}    
	</update>
	
	
	<select id="selectDetailPR" resultMap="prSetResult">
		  select 
		         pr_no
		       , pr_title
		       , pr_content
		       , to_char(pr.create_date, 'YYYY-MM-DD') as "create_date"
		       , pr_time
		       , pr.stack_name
		       , git_nick
		       , count
		       , mem_no
		    from my_pr pr
		    join member using (mem_no)
		   where pr.status = 'Y'
		     and pr_no = #{prNo}
	
	</select>
	
	<update id="deletePR">
		update 
			   my_pr
		   set status = 'N'
		 where pr_no = #{prNo}     
	</update>
	
	
	
	<update id="updatePR">
		update 
		       my_pr
		   set pr_title = #{prTitle}
		     , pr_content = #{prContent}
		     , stack_name = #{stackName}
		     , pr_time = #{prTime}
		 where pr_no = #{prNo}
		       
	</update>
	
	
	<insert id="insertReplyPR">
		insert into 
			  REPLY
			  (
			    reply_no
			  , mem_no
			  , rep_content
			  , ref_pro
			  , rep_date  
			  ) 
			  values
			  (
			    seq_rep.nextval
			  , #{replyWriter}
			  , #{replyContent}
			  , #{refPno}
			  , sysdate 
			  )     
			        
	</insert>
	
	
	<select id="selectPrReplyList" resultMap="replySetResult">
		select 
		       reply_no
		     , git_nick
		     , mem_no
		     , rep_content
		     , ref_pro
		     , to_char(rep_date,'YYYY-MM-DD') as "rep_date"
		  from reply r 
		  join member using (mem_no)  
		 where ref_pro = #{refPno} 
		   and r.status ='Y'
		 order by rep_date desc
		  
	</select>
	
	<update id="deleteReplyPR">
		update
		       REPLY
		   set status = 'N' 
		 where reply_no = #{replyNo}    
		    
	</update>
	
	
	
	
	
	
	

</mapper>
  	