<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="repoMapper">

	<resultMap type="MyProject" id="myProjectResult">
		<result column="mypro_no" property="myproNo"/>
		<result column="ref_team_no" property="refTeamNo"/>
		<result column="mypro_title" property="myproTitle"/>
		<result column="mypro_type" property="myproType"/>
		<result column="mypro_member" property="myproMember"/>
		<result column="mypro_status" property="myproStatus"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResult">
		<result column="git_nick" property="gitNick"/>
		<result column="mem_no" property="memNo"/>
		<result column="proWriter" property="pro_writer"/>
	</resultMap>
	
	<resultMap type="Repo" id="repoResult">
		<result column="" property=""/>
	</resultMap>
	
	<select id="selectMyProjectList" resultMap="myProjectResult">
		select
		       mypro_no
		     , ref_team_no
		     , mypro_title
		     , mypro_type
		     , mypro_member
		     , mypro_status
		  from my_project p
		 where mypro_member like '%' || #{gitNick} || '%'
		   and status = 'Y'
		 order
    		by mypro_no desc
	</select>
	
	<select id="selectTeamMateList" resultMap="memberResult">
		select
			   mem_no 
		     , git_nick
		     , profile
		     , pro_writer
		  from member
		  left join project on (mem_no = pro_writer) 
		 where team = (
		                 select 
		                        team
		                   from member
		                  where mem_no = #{memNo}
		                 )
		   and team_status = 'Y'
	</select>
	
	<insert id="insertMyProject">
		insert
		  into my_project
		     ( 
		       mypro_no	
		     , ref_team_no
		     , mypro_title
		     , mypro_type
		     , mypro_member
		     )
		values
		     (
		       seq_mypro.nextval
		     , #{refTeamNo}
		     , #{myproTitle}
		     , #{myproType}  
		     , #{myproMember}
		     )
	</insert>
	
	<update id="updateIngToFin">
		update
			   my_project
		   set mypro_status = 'N'
		 where mypro_no = #{myproNo}
		   and status = 'Y'
	</update>
	
	<select id="selectMyProject" resultMap="myProjectResult">
		select 
			   mypro_no
		     , mypro_title
		  from my_project
		 where mypro_no = #{myproNo}
	</select>

</mapper>